* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 221, 221);
}

div.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.1);
    padding: 30px;
    margin: 30px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

fieldset {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

fieldset input[type=email],
fieldset input[type=password],
fieldset input[type=date] {
    border: none;
    border-bottom: 1px solid silver;
    padding: 5px;
}


.description {
    font-style: italic;
    opacity: 0.6;
    font-weight: 500;
    margin-bottom: 40px;
}

legend p {
    margin: 0 10px;
    opacity: 0.7;
    font-weight: bold;
}

label {
    font-weight: bold;
    opacity: 0.7;
}

input[type=submit] {
    border: none;
    height: 50px;
    border: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}