p.highlighted {
    color: #0084ff;
    font-size: 20px;
}

div#main-div {
    background-color: rgb(189, 170, 170);
    padding: 10px;
}

.link1, .link2 {
    font-weight: bold;
    font-style: italic;
}

.special {
    background-color: orange;
}

.orange {
    color: orange;
}

.red {
    font-style: italic;
    color: red;
}

.aqua {
    color: aqua;
}