div.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 20px;
    width: 70%;
    margin: 30px auto;
    background-color: rgb(248, 238, 218);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div.input-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
    margin: auto;
    gap: 10px;
}

div.input-wrapper label {
    flex: 0 0 100%;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}

div.input-wrapper input[type='text'] {
    flex: 0 0 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

div.input-wrapper input[type='button'] {
    background-color: rgb(171, 194, 245);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-left: 10px;
    border: 3px solid antiquewhite;
}

div.input-wrapper input[type='button']:hover {
    border: 3px solid rgb(1, 110, 1);
}

.task-list-container,
.completed-tasks-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 20px auto;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    align-items: center;
    padding: 20px;
}

.task-list-container ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0;
}

.task-list-container li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.task-list-container li p,
.task-list-container li input {
    flex: 0 0 65%;
    font-size: 1.1rem;
}

.btns {
    flex: 0 0 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.btns button {
    flex: 0 0 calc(50% - 10px);
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 10px;
    width: 85px;
    height: 55px;
}

.save-btn {
    flex: 0 0 100% !important;
    width: 100% !important;
}

.btns button:nth-of-type(1):hover {
    background-color: green;
    color: white;
}

.btns button:nth-of-type(2):hover {
    background-color: orange;
    color: white;
}

.completed-tasks-container {
    width: 60%;
}

.completed-tasks-container h2 {
    color: green;
}

.completed-tasks-container ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    list-style-type: none;
}
