<div class="container">

    <h1>TO DO LIST</h1>

    <div class="input-wrapper">
        <label for="addTask">Add your task</label>
        <input type="text" name="addTask" id="addTask" [(ngModel)]="task">
        <input type="button" value="Add task" (click)="addTaskHandler()">
    </div>

    <div class="task-list-container">

        <h2>TASKS</h2>

        <ul>
            @for (taskObj of taskArr; track $index) {

            @if (taskObj.isEditing) {
            <li>
                <input type="text" [(ngModel)]="taskObj.name">
                <div class="btns">
                    <button class="save-btn" (click)="saveTaskHandler($index)"><i class="fa-regular fa-floppy-disk"> Save</i></button>
                </div>
            </li>

            } @else {
            <li>
                <p>{{taskObj.name}}</p>
                <div class="btns">
                    <button (click)="completeTaskHandler($index)"><i class="fa-solid fa-check"> Done</i></button>
                    <button (click)="editTaskHandler($index)"><i class="fa-solid fa-pen-to-square"> Edit</i></button>
                </div>
            </li>
            }

            }
        </ul>

    </div>

    <div class="completed-tasks-container">

        <h2>COMPLETED TASKS</h2>

        <ul>
            @if (completedArr.length > 0) {
                @for (completedTask of completedArr; track $index) {
                    <li>{{completedTask}}</li>
                }
            } @else {
                <li>There are not completed tasks</li>
            }
        </ul>

    </div>

</div>